@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.video-container {
  overflow: hidden;
  background-color: #FFF;
}
.video-container video, .video-container canvas {
  /* Make video to at least 100% wide and tall */
    width: 65%;
    margin-left: 35px;
}
.camera {
    margin-left: 10px;
    margin-bottom: 15px;
}

button .material-icons {
  color: #fff;
  font-size: 48px;
}

button .btn {
  border-radius: 50%;
  border-style: none;
  width: 70px;
  height:70px;
  background-color: #4108DD;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  cursor: pointer;
}
button:focus {outline:0;}


.green-btn {
  background-color: #02B89F;
  box-shadow: none;
}
.red-btn {
  background-color: #F44336;
  box-shadow: none;
}

/************* CE Buttons *************/
.btn-pos-1lc {
  bottom: 50px;
  left: calc(50% - 200px);
}
.btn-pos-1rc {
  bottom: 50px;
  left: calc(50% + 130px);
}
.btn-pos-2lc {
  bottom: 50%;
  left: calc(50% - 400px);
}
.btn-pos-2rc {
  bottom: 50%;
  left: calc(50% + 330px);
}
.btn-pos-center {
  bottom: 50px;
  left: 50%;
}
/************* LEFT Buttons *************/
.btn-pos-1l {
  bottom: 50px;
  left: 30px;
}
.btn-pos-3l {
  bottom: 50px;
  top: 20px;
}
/************* RIGHT Buttons *************/
.btn-pos-1r {
  bottom: 50px;
  right: 30px;
}
.btn-pos-2r {
  right: 30px;
  top: 110px;
}
.btn-pos-3r {
  right: 30px;
  top: 20px;
}


/************* Rotate Icons *************/

.deco {
  color: #9CE079;
  font-size: 100px;
  margin: 30%;
}

.marginleft {
  margin: 10px;
}

.deco_sad {
  color: #db5a42;
  font-size: 100px;
  margin-left: 30%;
}

.logo {
  width: 30%;
}
.Welcome {
  color: #3EB086;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: #3EB086;
}

.ant-btn-primary {
    background-color: #3EB086;
    border-color: #3EB086;
}

.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: #3EB086;
}
.ant-steps-item-icon > .ant-steps-icon {
    color: #3EB086;
}
.good {
    color: #3EB086;
    font-weight: bold;
}
.bad {
    color: #db5a42;
    font-weight: bold;
    margin-right: 5px;
}

body {
  margin: 10px;
  font-family: "Roboto";
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotating 2s linear infinite;
}
